{% extends 'base_front.html.twig' %}

{% block title %}Accueil - Immovable Cy.Agents{% endblock %}

{% block contentwrapper %}
    <div class="content-wrap">
        <h1>Immovable Cy.Agents</h1>
        <p>Vous recherchez des biens à louer, à acheter ou bien à vendre ? Vous pourrez faire tout cela sur notre
            plateforme, qui est optimisée cet effet. De plus vous pourrez nous joindre facilement et prendre rendez-vous
            avec nous en ligne.</p>

        <p>Rejoignez nous en quelques cliques afin de bénéficier d'une meilleure experience</p>
        <div class="center_block">
            <a href="{{ path('subscribe') }}"><input type="submit" class="btn-rounded-brown" value="Rejoindre"></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container_all_item_house">
        <div class="container-item-house">
            {% for property in properties %}
                {% if pictures[property.title]=="" %}
                    {% set image= "" %}
                {% else %}
                    {% set image= pictures[property.title][0] %}
                {% endif %}
                <div class="item">
                    <img src="{{ asset("uploads/Property/"~image) }}">
                    <div class="container_information">
                        <div class="price">
                            <p>{{ property.price|number_format|replace({',': ' '}) }} €</p>
                        </div>
                        <p class="title">
                            {{ property.title }}
                        </p>
                        {% if property.streetname is empty %}
                            <span class="address">Aucune adresse enregistrée</span>
                        {% else %}
                            <span class="address">{{ property.numberofstreet }} {{ property.streetname }} {{ cities[property.id] }}</span>
                        {% endif %}
                        <p class="content">
                            {{ property.content }}
                        </p>
                        <div class="action ">
                            <a href="{{ path('front_display_property',{'id':property.id,'type':property.typeof}) }}" class="btn-square">
                               Voir
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="fonctionnalite">
        {% if dailymessage.content == "" %}
            <h2>Pourquoi notre plateforme est la meilleure</h2>
            <p>Nous mettons à votre disposition des outils pensé et élaboré pour une recherche DU bien qui vous
                convient.</p>
            <p>De plus vous pouvez prendre rendez-vous facilement avec l'un de nos conseillé</p>
        {% else %}
            {{ dailymessage.content | raw }}
        {% endif %}
        <div class="center_block">
            <a href="{{ path('calendar') }}"> <button class="btn-rounded">Prendre un RDV</button></a>
        </div>
    </section>

    <section id="blog">
        <h2>Actualité immobilière</h2>
        <div id="container_carousel_blog">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('images/slide_2.jpg') }}" alt="Article du blog numéro 1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>De nouveau architecte sur le marche</h5>
                            <p>Une nouvelle génération des designer voient le jour sur le marché. Avec des design
                                moderne et épuré, tout en finesse et forme géométrique.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/slide_1.jpg') }}" alt="Article du blog numéro 2">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Comment réduire sa consommation</h5>
                            <p>De nouvelle technique d'isolation de chauffage et de régulation sont utilisé pour réduire
                                votre consommation d'energie</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/slide_3.jpg') }}" alt="Article du blog numéro 3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Les nouvelles tendances mobilier</h5>
                            <p>Des jeunes startuper ont lancé leurs entreprise afin de fournir du mobilier de qualité à
                                ceux qui n'en n'ont pas les moyens</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
        <div class="center_block">
            <p>Découvrer l'ensemble de nous article sur notre blog</p>
            <a href="#" class=""><button class="btn-rounded">Acceder au blog</button></a>
        </div>
    </section>
    <section id="avis">
        <h2>Les avis</h2>
        <div class="container_avis">
            {% for a in avis %}
                {% set v = 5-a['note'] %}
                {% set do = 1 %}
                {% set do_full = 1 %}
                {% if a['note'] == 0 %}
                    {% set do_full = 0 %}
                {% endif %}
                {% if v<1 %}
                   {% set do = 0 %}
                {% endif %}
                <div class="item_avis">
                    <div class="header_opinion">
                        <div class="title">" {{ a['titre'] }} "</div>
                        <div class="note_opinion">
                            <ul>
                                {% if do_full==1 %}
                                    {% for i in 1..a['note'] %}
                                        <li><i class="icon-star-full"></i></li>
                                    {% endfor %}
                                {% endif %}
                                {% if do==1 %}
                                    {% for i in 1..v %}
                                        <li><i class="icon-star-empty"></i></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <p class="content_opinion">
                        {{ a['avis'] }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}
